@use "variables" as *;
@use "mixins" as *;

.btn-regular {
  background: #000;
  color: #fff;
  padding: 0.7rem 1.5rem;
  @include rounded;
  @include button-base;

  &:hover {
    background: #333;
  }
}

/* Listing bid button */
.listing-card_bid-button {
  border: none;
  border-left: 1px solid #dfdfdf;
  background: black;
  color: #fff;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 0 !important;
}

.listing-card_bid-button:hover {
  background: #606060;
  color: #fff;
}

/* Single listing bid button */
.listing-single .listing-card_bid-button {
  height: auto;
  align-self: stretch;
  padding: 0.65rem 1rem;
}

/* Create listing button */
.btn-create-listing {
  background-color: #9b3c33;
  color: #fff;
  border: none;

  &:hover {
    background-color: lighten(#9b3c33, 10%);
    color: #fff;
  }
}
