@use "variables" as *;
@use "mixins" as *;

.btn-regular {
  background: black;
  color: white;
  padding: 0.7rem 1.5rem;
  @include rounded;
  @include button-base;

  &:hover {
    background: #333;
  }
}

/* Listing bid button */
.listing-card_bid-button {
  border: none;
  border-left: 1px solid #d9d9d9;
  background: black;
  color: white;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 0 !important;
}

.listing-card_bid-button:hover {
  background: #5c5c5c;
  color: white;
}

/* Single listing bid button */
.listing-single .listing-card_bid-button {
  height: auto;
  align-self: stretch;
  padding: 0.65rem 1rem;
}
