// Brand colors
$primary: #fffcf4;
$secondary: #9b3c33;

// Background & text
$background: #fffcf4;
$text: #000;

// Typography
$font-family-base: "Inter", sans-serif;

// Borders
$border-radius: 10px;
